/* *{
  margin: 0;
  padding: 0;
} */
html, body{
  height: 100vh;
}
a {
  text-decoration: none;
  cursor: pointer;
}
body {

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

li {
  list-style-type: none;
}




.main{
  display: flex;
  height: 100vh;
}
.sidebar{
  width: 300px;
  flex-shrink: 0;
  background: #FAFAFA;
  height: 100%;
  overflow: auto;
}
.content{
  background: #ffffff;
  width: 1235px;
}
.sidebar-item {
  padding-top: 10px;
  padding-left: 20px;
}
.sidebar-title  {
  cursor: pointer;
  
}
.sidebar-item.open .sidebar-title .toggle-btn{
  transform: rotate(180deg);
}



.sidebar-content  {
  margin-left: 20px;
  height: 0;
  overflow: hidden;
}
.sidebar-item.open .sidebar-content{
  height: auto;
}

.loading-title {
  width: 201px;
  height: 13px;
  background: #EBEBEB;
  margin-left: 23px;
  margin-top: 12px;
}
.loading-title.item{
  width: 178px;
  margin-left: 46px;
}



